#----------------------------------------------------------
# .gitignore
#
# @author: Wildboar
#----------------------------------------------------------

# Archive
Archive/BCamera/build/
Archive/PointGen/build/
Archive/PointConvert/build/
Archive/CalScorer/build/

# Utilities
Utils/MetaGen/build/
Utils/CalScene/build/

# Data
# Data/**/*.png
# Data/**/*.jpg
# Data/**/*.txt
Data/**/*.zip

# Tests
Tests/Distortion_0000/build/
Tests/Distortion_0001/build/
Tests/MultiCharuco/build/
Tests/Calibrator/build/
Tests/GTrainer/build/

# Tools
Tools/ZhangFinder/build
Tests/DyNet/build/

# Research
Research/Meme/build/
Research/MemeFinder/build/
